@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';

$neat-grid: (
  columns: 6,
  gutter: $gutter,
);

body {
  > div {
    max-width: 1000px;
    margin: 0 auto;
    background-color: $secondary-background-color;
    color: $secondary-foreground-color;
    border: $base-border;
    > nav {
      @include grid-container;
      > div {
        @include grid-column(6);
        padding: $gutter 0;
      }
    }
    > header {
      @include grid-container;
      background-image: url('https://user-images.githubusercontent.com/64749/27015938-2454e2aa-4f5d-11e7-92f7-0d53ddd68141.jpg');
      background-size: 100%;
      h1 {
        @include grid-column(6);
        margin-top: 4em;
      }
    }
    > section {
      @include grid-container;
      > article {
        @include grid-column(6);
      }
    }
    > footer {
      @include grid-container;
      background-color: $dark-gray;
      color: $light-gray;
      border: $base-border;
      > p {
        @include grid-column(6);
        padding: $gutter 0;
      }
    }
  }
}
