<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freelace Software Engineer - Web Developer - Rimian Perkins</title>
  <link rel="stylesheet" href="/app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '<%= @google_analytics_code %>', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="uk-offcanvas-content">
    <div id="off-canvas" uk-offcanvas>
      <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-default">
          <li><a href="#about" uk-scroll>About</a></li>
          <li><a href="#services" uk-scroll>Services</a></li>
          <li><a href="#footer" uk-scroll>Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="uk-card uk-card-body uk-card-small uk-background-primary" style="z-index: 980;" uk-sticky="bottom: #offset">
      <div class="uk-visible@s">
        <a class="uk-button uk-button-small" href="#about" uk-scroll>About</a>
        <a class="uk-button uk-button-small" href="#services" uk-scroll>Services</a>
        <a class="uk-button uk-button-small" href="#footer" uk-scroll>Contact</a>
      </div>
      <div class="uk-hidden@s uk-position-center-right">
        <a href="#off-canvas" uk-toggle class="uk-button uk-button-small">
          <span uk-icon="menu" class="uk-active"></span>
        </a>
      </div>
    </div>
    <div class="uk-cover-container uk-height-medium uk-visible@s">
      <img src="https://user-images.githubusercontent.com/64749/27015938-2454e2aa-4f5d-11e7-92f7-0d53ddd68141.jpg" alt="banner" uk-cover>
    </div>

    <div class="uk-container uk-margin-large-top">
      <section id="about">
        <article>
          <h1 class="uk-heading-primary">
            Rimian Perkins
          </h1>
          <h3>
            I'm a freelance Software Engineer and Web Developer with over 15 years experience. If you need a Web Developer to build a website for your business or a Software Engineer for an enterprise application, I can help you!
          </h3>
          <p>
            <span>Based in NSW, Australia</span>,
            I work remotely on a contract basis. I do travel to Sydney and Melbourne for work and sometimes I visit a client for a few days then I do the actual coding work remotely. These days, having someone on-site is not really necessary if you're hiring an experienced person. Meetings can be held online via Google Hangouts or Skype. Project managers and stake holders can stay informed through a raft of online tools such as bug trackers, test suites, project management tools and monitoring systems.
          </p>
          <!--
          <p>
            <span>The technology already exists</span>. Years ago, you'd build a website from scratch maybe by writing the code yourself or with your favourite WYSIWYG editor. Those days are gone.
          </p>
        -->
          <p>
            <span>Transparency and Automation</span>
            are my things. I don't like to hold on to knowledge when I can share it and I don't want to do something over and over if I can get a computer to do it faster and for free. Ain't nobody got time for that! I'll help you ship a working product that you own yourself. It belongs to you. I also like to have my code peer reviewed and get feedback early. Surprises are for Christmas, not software development. I'm also keen to apply industry best practice to anything I do. For example: This website automates deploy after the test framework says it's OK.
          </p>
          <h3>
            OK, what now?
          </h3>
          <p>
            <span>Firstly, it's a good idea</span>
             to do a bit of requirements gathering before you engage a contractor. You should know: What the minimal viable product is and who your target audience is. Also, have a good idea of: When the deadline is and the estimated budget. You'll also want a good business plan. Is your idea viable? Is there a market for it? If you know these things, you should <a href="mailto:<%= ENV['SENDGRID_RECIPIENT_ADDRESS'] %>">contact me</a>. Alternatively, if you need to talk to someone to try and get an idea of these things, I can help with that. All conversations are confidential, of course.
          </p>
          <hr>
        </article>
      </section>
      <section id="services">
        <article>
          <h1>
            Technical details
          </h1>
          <h2>
            Technology is about change and a good software engineer continuously learns.
          </h2>
          <p>
            Unless you're working in a niche sector, no one person can know everything because there is too much to know. A good engineer has a good set of core skills but also knows where to find the right information and how to apply it. A good engineer asks questions without worrying about his or her ego. Asking a silly question is better than making a dumb mistake.
          </p>
          <p>
            <span>I regularly build</span> mobile and desktop apps in HTML5. I'm experienced: HTML5, CSS3, Sass, Javascript, Node.js, jQuery, AnglularJS, Ember.js. I also have experience with Backbone.js and React. For the back end: Ruby and Rails with extensive tests in RSpec. I've also worked with Minitest, Cucumber and Sinatra apps. I maintain some Linux servers in the cloud. I like to make the software I build talk to other software over a network. Where I can, I test my code before I write it. I've worked on Agile teams too: The largest being at Lonely Planet on a team of between 50 and 100 developers.
          </p>
          <p>
            <span>Devops!</span> In some circles, you can't get by without dropping this buzzword every now-and-then. So, here it is. For three years I worked at Bulletproof in their Research and Development team. We did devops every day. Actually, that's pretty much all we did. I didn't really know what it was until I had been doing it for quite some time. That's how good we were at it.
          </p>
          <p>
            <span>This is open source</span>. I contribute to open source projects and I build open source projects when I can.  Even this website is open source (but the content is copyright). It's preferable for a developer to have all their code reviewed before it ships to your production server. Sometimes a small team does not have the resources to do that. Open Source can provide additional resources for peer review. Of course, you're not forced to adopt an open source model if it's not suited to what you need.
          </p>
        </article>
      </section>
    </div>
    <div class="uk-card uk-card-body uk-background-muted">
      <div class="uk-container">
        <h2>
          Contact
        </h2>
        <form>
          <label>
            Your Name
          </label>
          <input class="uk-input" type="text">
          <label>
            Your Phone Number
          </label>
          <input class="uk-input" type="text">
          <label>
            Your Email
          </label>
          <input class="uk-input" type="text">
          <label>
            Additional Information:
          </label>
          <textarea class="uk-textarea"></textarea>
          <div class="uk-width-1-1 uk-margin-top">
            <button class="uk-button uk-button-secondary uk-align-right">
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
    <footer id="footer" class="uk-background-secondary">
      <div class="uk-container">
        <div uk-grid class="uk-margin-large-top uk-margin-large-bottom">
            <div class="uk-width-1-2">&copy; Rimian Perkins <%= Date.today.year %></div>
            <div class="uk-width-1-2">
              <a href="mailto:<%= ENV['SENDGRID_RECIPIENT_ADDRESS'] %>">
                Email
              </a>
              |
              <a href="https://www.linkedin.com/in/rimianperkins/" target="_new">
                Linkedin
              </a>
              |
              <a href="https://stackoverflow.com/users/63810/rimian" target="_new">
                Stack Overflow
              </a>
            </div>
        </div>
        <p>
        </p>
      </div>
    </footer>

  </div>
  </body>
</html>
