<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freelace Software Engineer - Web Developer - Rimian Perkins</title>
  <link rel="stylesheet" href="/app.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '<%= @google_analytics_code %>', 'auto');
    ga('send', 'pageview');
  </script>
</head>
  <body>
    <div>
      <header>
        <h1>Rimian Perkins</h1>
      </header>
      <section>
        <h2>Freelance Software Engineer</h2>
        <p>
          I'm a freelance Software Engineer and Web Developer. I've worked with many clients small and large.
          If you need a small website for your business or a developer for an enterprise application, I can help you!
        </p>
        <p>
          Being a full-stack developer, I'm confortable working with back end and front end technology simultaneously.
        </p>
      </section>
      <section>
        <h2>Skills</h2>
        <h3>Front end</h3>
        <p>
          AngularJS, EmberJS, JQuery, Javascript, HTML5.
        </p>
        <h3>Back end</h3>
        <p>
          Ruby on Rails, Ruby,
        </p>
        <h3>Software Platforms</h3>
        <p>
          Integration with
        </p>
        <h3>Open Source</h3>
        <p>
          I've contributed to several open source projects.
        </p>
      </section>
      <section>
        <h2>Previous Clients</h2>
        <p>
          CHOICE, Bullerproof Networks, ABC, Lonely Planet, GPYR, Tribal DDB.
        </p>
      </section>
    </div>
  </body>
</html>
